@import "tailwindcss";

/* global variables for the theme */
:root {
  --background-light: #fefefed7;
  --background-dark: #131212;
  --color-light: black;
  --color-dark: white;
  --accent-color-light: #10B981;
  --accent-color-dark: #34D399;
  --button-background-light: #ffffff00;
  --button-background-dark: #131212;
  --button-border-light: #15b680d4;
  --button-border-dark: #15b680d4;
  /*shadows*/
  --shadow-light: 0px 4px 6px rgba(0, 0, 0, 0.352);
  --shadow-dark: 0px 4px 6px rgba(255, 255, 255, 0.375);

}


/* Applicazione del tema light */
.light {
  --background: var(--background-light);
  --color: var(--color-light);
  --accent-color: var(--accent-color-light);
  --button-background: var(--button-background-light);
  --button-border: var(--button-border-light);
  --shadow: var(--shadow-light);
}

/* Applicazione del tema dark */
.dark {
  --background: var(--background-dark);
  --color: var(--color-dark);
  --accent-color: var(--accent-color-dark);
  --button-background: var(--button-background-dark);
  --button-border: var(--button-border-dark);
  --shadow: var(--shadow-dark);
}

/* Usa le variabili nelle regole CSS */
body {
  background-color: var(--background);
  color: var(--color);
}

::selection {
  background-color: var(--accent-color);
  color: var(--color);
}

.blurred {
  filter: blur(5px);    
}

.row-disposition {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.baseButton {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--color);
  background: var(--button-background);
  border: 2px solid var(--button-border);
  height: 36px;
  padding: 0 15px;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.baseButton:hover {
  background-color: rgba(16, 185, 129, 0.305); 
}


/*rilievo dinamico */
.elevated {
  box-shadow: var(--shadow);
  transition: box-shadow 0.3s ease-in-out;
}

.elevated:hover {
  box-shadow: 0px 4px 6px rgba(16, 185, 129, 0.369)
}